@CHARSET "UTF-8";
@IMPORT url("base.css");
@IMPORT url("menu.css");

#MianTable{height:100%;min-width:1001px;width:100%;min-height:500px;}
#MianTable .topTd{background:url(../images/mian/top.gif);overflow:hidden;vertical-align:top;height:50px;}
#MianTable .midTd{background-color:#FFF; height:5px;}
#MianTable .WorkMian{width:100%; overflow:hidden;}
#MianTable .topTitle{ line-height:50px; padding-left:25px; font-size:18px; font-weight:bolder; float:left;color:#FFF;}
#MianTable .topIco{height:50px;float:right;margin-right:10px;}
.topIco li{float:left;}
.splitLi2px{width:2px;height:50px; background-image:url(../images/mian/top_2px.gif); margin:0px 3px;}
.textLi{padding:3px 7px 3px 27px; text-align:left; background-position:5px 3px; height:17px; line-height:17px; margin-top:13px; background-repeat:no-repeat;color:#FFF;}
.textLi a{color:#FFF;}
.textLi a:hover{color:#CCC;}

#MianTable .bottomTd{background-color:#FFF; height:auto;}
#RightTd{float:left;}
#RightTable{height:100%;}
#RightTdMenu{background:url(../images/mian/menu_2px.gif) 18px 0px repeat-y #176cc2;overflow:auto;zoom:1;}
#IfromTd{border:1px solid #ccc; border-top:0px;overflow:auto; zoom:1;}
#RightTdMenu ul{clear:both;padding-left:20px;background:url(../images/mian/menu_2px.gif) 18px 0px repeat-y;}
#RightTdMenu li{display:inline;overflow:hidden;white-space:nowrap;width:auto;float:left; height:33px; color:#FFF; background:url(../images/mian/menu_2px.gif) right repeat-y; line-height:33px; font-size:14px; padding:0px 15px; min-width:10px;}
#RightTdMenu li span{float:left;display:block;cursor:pointer;}
#RightTdMenu li img{width:8px; height:7px;margin-left:9px;margin-top:13px; margin-bottom:11px;cursor:pointer;}
#RightTdMenu li.mouseOn{background-image:url(../images/mian/menu_33px.gif); margin:0px; margin-left:-2px; background-repeat:repeat-x; color:#000; height:33px; line-height:33px;*min-width:10px;}
#MianRoot{height:31px; line-height:31px; text-align:center; background-color:#FFF;}